@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
.App {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.polymorph {
  fill: #36465d;
}

#question {
  position: absolute;
  width: 300px;
  top: 30vh;
  left: 42%;
  color: white;
}

#cta {
  position: absolute;
  margin: 20em auto 0 auto;
  left: 0;
  right: 0;
  width: 20%;
  background: none;
  border: 2px dashed #fff;
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  outline: 0;
  transition: transform .2s;
}

#cta:hover {
  transform: scale(1.15); 
}

#input_field {
  position: absolute;
  width: 300px;
  top: 43vh;
  left: 42%;
}

h1 {
  color: white;
}

p{
    font-size: 1.5em;
    opacity: 1;
    color: white;
}

#cta2{
    width: auto;
    margin: 30px auto;
    background: #398f5a;
}

#blip{
    position: absolute;
    color: #398f5a;
    right:  25%;
    top: 0%;
    opacity: 0;
    width: 30%;
    transform: translateY(-800px);
}

.invalid {
    outline-color: red;
    /* also need animation and -moz-animation */
    animation: shake .5s linear;
    -webkit-animation: shake .5s linear;
}

/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-20px);
    }
    25%, 58% {
        -webkit-transform: translateX(20px);
    }
    75% {
        -webkit-transform: translateX(-1px);
    }
    92% {
        -webkit-transform: translateX(10px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

#card_msg {
  /*height: 200px;*/
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  width: 500px;
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s;
}

#card_msg:hover {
  transform: scale(1.15);
}

#small {
  position: absolute;
  left: 42%;
  top: 40vh;
  color: white;
}

#omg {
  position: absolute;
  border-radius: 100%;
  left: 43.5%;
  top: 2%;
  transition: transform .2s;
}

#omg:hover {
  transform: scale(1.15); 
}

/*html, body {
  overflow: hidden;
  background-color: #bf737d;
  width: 100%;
  height: 100%;
}*/

.card {
  position: absolute;
  width: 450px;
  height: 550px;
  border: 10px solid #73BFB5;
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(230, 240, 230);
  opacity: 0.92;
  top: 8%;
  left: 55%;
  display: none;
}

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card p {
  /*font-size: 1.1em;*/
  line-height: 1.1;
  /*font-family: 'Nobile';*/
  color: #331717;
  /*font-style: italic;*/
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front { 
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid #73BFB5;
  backface-visibility: hidden;
  background-color: rgb(115, 163, 191);
  /* background-image: url($cover-image); */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: rgb(115-50, 163-50, 191-50);
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3), inset 2px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(210, 220, 210);
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #73BFB5;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
}

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
  /* transform: rotateZ(45deg); */
}

.cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
  background-color: #73bf8f;
}

.cover-shape-small {
  position: absolute;
  width: 50%;
  height: 36%;
  top: 30%;
  left: 25%;
}

.shape-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

#shape-image {
  background-image: url('http://freedesignfile.com/upload/2013/02/Birthday-cake-vector-4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shape-diamond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  transform: rotateZ(45deg);
}

/* cake animation stuff from: https://codepen.io/WithAnEs/pen/OVZRvg
   not created by me! It's by Mark Thomes.
*/


.cake {
    position: absolute;
    width: 250px*0.4;
    height: 200px*0.4;
    top: 45%;
    left: 50%;
    margin-top: -70px*0.4;
    margin-left: -125px*0.4;
}

.cake > * {
    position: absolute;
    /* backface-visibility: hidden; */
}

.layer {
    position: absolute;
    display: block;
    width: 250px*0.4;
    height: 100px*0.4;
    border-radius: 50%;
    background-color: #553c13;
    box-shadow:
        0 2px 0px lighten(#553c13, 5%),
        0 4px 0px darken(#553c13, 8.2%),
        0 6px 0px darken(#553c13, 8.4%),
        0 8px 0px darken(#553c13, 8.6%),
        0 10px 0px darken(#553c13, 8.8%),
        0 12px 0px darken(#553c13, 9%),
        0 14px 0px darken(#553c13, 9.2%),
        0 16px 0px darken(#553c13, 9.4%),
        0 18px 0px darken(#553c13, 9.6%),
        0 20px 0px darken(#553c13, 9.8%),
        0 22px 0px darken(#553c13, 10%),
        0 24px 0px darken(#553c13, 10.2%),
        0 26px 0px darken(#553c13, 10.4%),
        0 28px 0px darken(#553c13, 10.6%),
        0 30px 0px darken(#553c13, 10.8%);
}

.layer-top { top: 0px; }
.layer-middle { top: 33px*0.4; }
.layer-bottom { top: 66px*0.4; }

.icing {
    top: 2px*0.4;
    left: 5px*0.4;
    background-color: #553c13;
    width: 240px*0.4;
    height: 90px*0.4;
    border-radius: 50%;
    &:before {
        content: "";
        position: absolute;
        top: 4px;
        right: 5px;
        bottom: 6px;
        left: 5px;
        background-color: lighten(#553c13, 3%);
        box-shadow:
            0 0 4px lighten(#553c13, 5%),
            0 0 4px lighten(#553c13, 5%),
            0 0 4px lighten(#553c13, 5%);
        border-radius: 50%;
        /* z-index: 1; */
    }
}

.drip {
    display: block;
    width: 50px*0.4;
    height: 60px*0.4;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #553c13;
}

.drip1 {
    top: 55px*0.4;
    left: 5px*0.4;
    transform: skewY(15deg);
    height: 48px*0.4;
    width: 40px*0.4;
}

.drip2 {
    top: 75px*0.4;
    left: 181px*0.4;
    transform: skewY(-15deg);
}

.drip3 {
    top: 84px*0.4;
    left: 90px*0.4;
    width: 80px*0.4;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.candle {
    background-color: #bf737d;
    width: 16px*0.4;
    height: 50px*0.4;
    border-radius: 8px / 4px;
    top: -20px*0.4;
    left: 50%;
    margin-left: -8px*0.4;
    /* z-index: 10; */
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 16px*0.4;
        height: 8px*0.4;
        border-radius: 50%;
        background-color: lighten(#bf737d, 10%);
    }
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px*0.4;
    height: 35px*0.4;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px*0.4;
    left: 50%;
    margin-left: -7.5px*0.4;
    /* z-index: 10; */
    box-shadow:
        0 0 10px rgba(orange, 0.5),
        0 0 20px rgba(orange, 0.5),
        0 0 60px rgba(orange, 0.5),
        0 0 80px rgba(orange, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
    0% {
        /* transform: rotateZ(5deg); */
        box-shadow: 
            0 0 10px rgba(orange, 0.2),
            0 0 20px rgba(orange, 0.2),
            0 0 60px rgba(orange, 0.2),
            0 0 80px rgba(orange, 0.2) }
    25% {
        /* transform: rotateZ(-5deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.5),
            0 0 20px rgba(orange, 0.5),
            0 0 60px rgba(orange, 0.5),
            0 0 80px rgba(orange, 0.5) }
    50% {
        /* transform: rotateZ(10deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.3),
            0 0 20px rgba(orange, 0.3),
            0 0 60px rgba(orange, 0.3),
            0 0 80px rgba(orange, 0.3) }
    75% {
        /* transform: rotateZ(-10deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.4),
            0 0 20px rgba(orange, 0.4),
            0 0 60px rgba(orange, 0.4),
            0 0 80px rgba(orange, 0.4) }
    100% {
        /* transform: rotateZ(5deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.5),
            0 0 20px rgba(orange, 0.5),
            0 0 60px rgba(orange, 0.5),
            0 0 80px rgba(orange, 0.5) }
}